@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f7f7;
}

/* ==================== HEADER ==================== */

header {
  display: flex;
  padding: 1em 6em;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header_logo {
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 4px;
  margin-right: 2em;
  color: #3f72af;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

li > a {
  text-decoration: none;
}

li > a:hover {
  color: #3f72af;
  transition: 0.3s;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 2em;
  align-items: center;
}

ul > .header_explore {
  background-color: #3f72af;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
}

ul > .header_explore:hover {
  background-color: #1a5276;
  transition: 0.3s;
}

.search-nav {
  font-size: 1em;
  padding: 0.5em 1em;
  border: 1px solid #3f72af;
  border-radius: 3px;
  outline: none;
  min-width: 25em;
}

.navbar > .header_auth {
  color: #3f72af;
  font-weight: 500;
}

.header_auth > .register {
  background-color: #3f72af;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
}

.header_auth > .register:hover {
  background-color: #1a5276;
  transition: 0.3s;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 980px) {
  .main-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header {
    padding: 1em 2em;
  }

  .header_logo {
    font-size: 1.5em;
  }

  .navbar {
    display: none;
    transition: 0.3s;
    position: absolute;
    top: 4em;
    height: auto;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1em 2em;
    border-bottom: 1px solid #e0e0e0;
    flex-direction: column;
    justify-content: start;
    gap: 3em;
    align-items: start;
  }

  .navbar > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    color: #3f72af;
  }

  .navbar-toggle:hover {
    color: #3f72af;
    transition: 0.3s;
  }

  .navbar li:not(.header_explore, .register) {
    width: 100%;
  }

  .search-nav {
    width: 100%;
  }
}

/* ==================== END HEADER ==================== */

/* ==================== MAIN ==================== */
main.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  margin-top: 5em;
}

.hero {
  width: 1140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin: 5em auto;
}

.hero > img {
  max-width: 100%;
  height: auto;
}

.hero > .hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.hero_content > h1 {
  letter-spacing: 3px;
  font-size: 3.5em;
  font-weight: bolder;
  color: #3f72af;
}

.hero_content > article {
  font-size: 1.2em;
  letter-spacing: 2px;
}

.hero_cta {
  background-color: #3f72af;
  color: white;
  padding: 1em;
  border-radius: 3px;
  border: none;
  font-size: 1.4em;
  letter-spacing: 4px;
  cursor: pointer;
}

.hero_cta:hover {
  background-color: #1a5276;
  transition: 0.3s;
}



.promotion {
  text-align: center;
  background-color: white;
  padding: 6em 0;
}

.promotion > h2 {
  margin-bottom: 2em;
}

.promotion-company {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  gap: 2em;
  padding: 1em;
  place-content: center center;
}

.promotion-company > img {
  width: 100%;
  height: auto;
}

.explore_programs {
  text-align: center;
  background-color: #3f72af;
  color: white;
  padding: 5em 0;
}

.explore_programs > h2 {
  margin-bottom: 2em;
  font-size: 2em;
}

.explore_programs-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

.explore_programs-content > .explore_programs-card {
  background-color: white;
  color: black;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.explore_programs-card > img {
  width: 100%;
  height: auto;
}

.explore_programs-card > .explore_programs-cta {
  background-color: #3f72af;
  color: white;
  padding: 1em;
  border-radius: 3px;
  border: none;
  letter-spacing: 4px;
  cursor: pointer;
  font-weight: 700;
}

.explore_programs-cta:hover {
  background-color: #1a5276;
  transition: 0.3s;
}

.testimoni {
  text-align: center;
  padding: 5em 0;
}

.testimoni > h2 {
  margin-bottom: 2em;
  font-size: 2em;
}

.testimoni > .testimoni-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin: 0 auto;
  width: 1140px;
}

.testimoni-card {
  border: 2px solid #3f72af;
  border-radius: 5px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
  align-items: center;
}

.testimoni-card > img {
  width: 50%;
  height: auto;
}

.news {
  text-align: center;
  padding: 5em 0;
  background-color: #3f72af;
  color: white;
}

.news > h2 {
  margin-bottom: 2em;
  font-size: 2em;
}

.news-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin: 0 auto;
  width: 1140px;
}

.news-card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  text-align: justify;
}

.news-card > img {
  width: 100%;
  height: auto;
}

.news-card h3 {
  cursor: pointer;
}

.news-card article {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news-date {
  font-size: 0.7em;
}

.next-journey {
  background-color: white;
  text-align: center;
  padding: 5em 0;
}

.next-journey > h2 {
  margin-bottom: 1em;
  font-size: 2em;
  white-space: pre-line;
}

.next-journey-cta {
  background-color: #3f72af;
  color: white;
  padding: 1em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2em;
}

/* ==================== END MAIN ==================== */

/* ==================== FOOTER ==================== */
footer {
  text-align: center;
  padding: 1em 0;
  background-color: #1a5276;
  color: white;
}

/* ==================== END FOOTER ==================== */

/* ==================== EXPLORE PAGE ==================== */
.main-explore {
  width: 1140px;
  margin: 0 auto;
  margin-top: 5em;
}

.top-filter {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  gap: 1em;
}

.top-filter > * {
  flex-grow: 1;
}

.filter-button {
  background-color: #3f72af;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3px;
  border: none;
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #1a5276;
  transition: 0.3s;
}

.top-filter > .sort {
  display: flex;
  flex-direction: column;
}

.sort > select {
  padding: 0.5em 1em;
  border: 1px solid #3f72af;
  background-color: #f9f7f7;
  border-radius: 3px;
  outline: none;
  font-size: 1em;
}

.sort > label {
  font-size: 0.8em;
}

.program-content {
  display: flex;
  gap: 2em;
  width: 100%;
}

.program-content > aside {
  width: 30%;
  overflow: hidden;
  transition: all 1s ease;
}

.ratings-filter,
.topics-filter,
.level-filter {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  border-bottom: 2px solid #e0e0e0;
}

.filter-type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.rating-container,
.topic-container,
.level-container {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  padding-left: 1em;
}

.topic {
  display: flex;
  gap: 0.5em;
}

.rating > label {
  font-size: 0.8em;
}

.star-fill {
  color: #ffd700;
}

.filter-arrow {
  transition: 0.3s;
  font-size: 1.2em;
  font-weight: 700;
  font-stretch: ultra-expanded;
}

.program-list{
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 70%;
}

.program {
  display: flex;
  gap: 1em;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 1em;
}

.program-info{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

/* ==================== END EXPLORE PAGE ==================== */

/* ==================== LOGIN ==================== */

.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: white;
}

.login{
  background-color: #f9f7f7;
  padding: 3em;
  min-width: 25%;
}

.login > h1 {
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #3f72af;
  text-align: center;
}

.login > p {
  margin-bottom: 1em;
  font-size: 0.9em;
  text-align: center;
}

.login > form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login input{
  padding: 0.5em 1em;
  border: 1px solid #3f72af;
  border-radius: 3px;
  outline: none;
  font-size: 1.2em;
}

.login button{
  background-color: #3f72af;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 1em;
}

.social-media{
  display: flex;
  justify-content: center;
  gap: 2em;
}

.social-media img{
  width: 2.5em;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  main.homepage {
    margin-top: 2em;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    gap: 2em;
    padding: 1em;
  }

  .hero > img {
    width: 70vw;
    align-items: center;
  }

  .hero_content{
    width: 100%;
  }

  .hero_cta{
    font-size: 1em;
  }

  .hero_content > h1 {
    font-size:5vw;
  }

  .hero_content > article {
    font-size: 1em;
  }

  .promotion, .explore_programs{
    padding: 2em;
  }

  .explore_programs > h2{
    margin-bottom: 1em;
  }
}